
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin_style.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <!-- Page Specific CSS -->
    {#<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">#}
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Home Page</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active"><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i>Проверить текст</a></li>
                <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-bar-chart-o"></i> Архив проверок</a></li>
                {#<li><a href=""><i class="fa fa-table"></i> Tables</a></li>#}
                {#<li><a href=""><i class="fa fa-edit"></i> Forms</a></li>#}
                {#<li><a href=""><i class="fa fa-font"></i> Typography</a></li>#}
                {#<li><a href=""><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>#}
                {#<li><a href=""><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>#}
                {#<li><a href=""><i class="fa fa-file"></i> Blank Page</a></li>#}
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="#">Dropdown Item</a></li>#}
                        {#<li><a href="#">Another Item</a></li>#}
                        {#<li><a href="#">Third Item</a></li>#}
                        {#<li><a href="#">Last Item</a></li>#}
                    {#</ul>#}
                {#</li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a><i class="fa fa-user"></i> {{ user_name }}</a>
                </li>
                <li class="dropdown alerts-dropdown">
                    <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Dashboard <small>Statistics Overview</small></h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                </ol>
            </div>
        </div><!-- /.row -->

        <!-- filter block -->
        <div class="well">
            <h4>Фильтр</h4>
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-group">
                    {{ form_row(form.user) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.created_from) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.created_to) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Фильтровать</button>
                </div>

            {{ form_end(form) }}
        </div>

        <div class="row">
            {% block content %}
                <div class="total">
                    <p>всего записей: {{ pagination.getTotalItemCount }}</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Текст</th>
                            <th>Уникальность</th>
                            <th>Вода</th>
                            <th>Количество символов</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in pagination %}
                            <tr class="
                                {% if row.uniqueness >= config.getUniquenessFloor and
                                        row.uniqueness <= config.getUniqunessCeil and
                                        row.water >= config.waterFloor and
                                        row.water <= config.waterCeil and
                                        row.numberCharactersWithoutSpaces >= config.amountCharactersFloor and
                                        row.numberCharactersWithoutSpaces <= config.amountCharactersCeil
                                %}
                                    green
                                {% else %}
                                    red
                                {% endif %}
                            ">
                                <td>{{ row.createdAt|date('d.m.y H:i') }}</td>
                                <td>{{ row.text|slice(0, 100) }}...</td>
                                <td>{{ row.uniqueness }}%</td>
                                <td>{{ row.water }}%</td>
                                <td>{{ row.numberCharactersWithoutSpaces }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination, '', query_params) }}
                </div>
            {% endblock %}
        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script>
    $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
    $( function () {
        $('#filter_created_from').datepicker({
            dateFormat: "yy-dd-mm"
        });
        $('#filter_created_to').datepicker({
            dateFormat: "yy-dd-mm"
        });
    });
</script>
<script src="{{ asset('js/jquery.ui.datepicker-ru.js') }}"></script>

</body>
</html>
