ul {
    list-style-type: none;
}
.form-wrapper {
    width: 40%;
    margin: 150px auto;
    padding: 30px 20px;
    text-align: center;
}
.form-wrapper form {
    margin-top: 50px;
}
.form-wrapper input[type="text"],
.form-wrapper button,
.form-wrapper input[type="password"],
.form-wrapper input[type="submit"]{
    width: 70%;
    height: 50px;
    text-indent: 10px;
}
.result {
    margin-top: 30px;
    padding: 40px 30px;
}
.result.green {
    background-color: #c9e2b3;
}
.result.red {
    background-color: #dd6666;
    color: gainsboro;
}
.result ul {
    padding: 10px 20px;
}
.result li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}
p.green {
    display: block;
    padding: 20px 10px;
    background-color: #5cb85c;
    font-size: 16px;
}
p.red {
    display: block;
    padding: 20px 10px;
    background-color: #AA3333;
    font-size: 16px;
}
.text p {
    font-size: 16px;
}