{% extends '@App/base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a><span class="glyphicon glyphicon-user"></span>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ app.user.username }}
                        {% endif %}
                    </a>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
            <form action="{{ path('seo') }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <textarea class="form-control" name="text" minlength="100" maxlength="25000" id="" cols="30" rows="20" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Отправить на проверку</button>
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock %}

