{% extends '@App/default/index.html.twig' %}

{% block content %}
    <div class="result {{ web_classes.container }}">
        <div class="general_data">
            <ul>
                <li>{{ validator.createdAt|date('d.m.Y H:i') }}</li>
                <li>{{ validator.user.roles[0] }}</li>
                <li><span class="glyphicon glyphicon-user"></span> {{ validator.user.username }}</li>
            </ul>
        </div>
        <div class="report">
            <p class="{{ web_classes.uniqueness }}">Уникальность: <b>{{ validator.uniqueness }}%</b></p>
        </div>
        <div class="report">
            <p class="{{ web_classes.water }}">Вода: <b>{{ validator.water }}%</b></p>
        </div>
        <div class="report">
            <p class="{{ web_classes.spam_amount }}">Заспамленность: <b>{{ validator.spamAmount }}%</b></p>
        </div>
        <div class="report">
            <p class="{{ web_classes.number_characters }}">
                Колличество символов бе пробелов: <b>{{ validator.numberCharactersWithoutSpaces }}</b></p>
        </div>
        <div class="text">
            <p>{{ validator.text }}</p>
        </div>
    </div>
{% endblock %}